{% extends "base.tera.html" %}
{% block title %}Агенты{% endblock title %}
{% block main %}
<details>
    <summary>
        Агент №1
    </summary>
    <div class="details-open">
        <br>Владелец: </br>
        <br>Исходный код: </br>
        <br>Дата создания: </br>
        <br>Дата последней модификации: </br>
    </div>
</details>
<details>
    <summary>
        Агент №2
    </summary>
    <div class="details-open">
        <br>Владелец: </br>
        <br>Исходный код: </br>
        <br>Дата создания: </br>
        <br>Дата последней модификации: </br>
    </div>
</details>
<details>
    <summary>
        Агент №3
    </summary>
    <div class="details-open">
        <br>Владелец: </br>
        <br>Исходный код: </br>
        <br>Дата создания: </br>
        <br>Дата последней модификации: </br>
    </div>
</details>
{% endblock main %}
