{% extends "base.tera.html" %}
{% block title %}Игры{% endblock title %}
{% block main %}
<h1>Страница со списком игр</h1>
<section class="games-block">
    <section class="games">
        <div class="games-head">
            Название игры
        </div>
        <div class="games-body">
            Lorem ipsum dolor sit amet, audiam diceret detracto ad vel. At vim erat aperiri efficiantur. Error pertinax argumentum ius ne. Affert animal per an, graeci doctus omittantur ad vel. Dolor laoreet usu ut, eu munere invenire suavitate vel. Ea dicat tation convenire sed, est no solum antiopam elaboraret, malis erant euripidis vix at.
        </div>
        <div class="games-footer">
            <button>Подробнее</button>
        </div>
    </section>
</section>
<section class="games-block">
    <section class="games">
        <div class="games-head">
            Название игры
        </div>
        <div class="games-body">
            ТConsul democritum in has, eam brute tollit ad. Ut vis populo lucilius rationibus. Theophrastus deterruisset te est, vim munere menandri eu. Est eu nulla petentium mnesarchum, virtute petentium pri ex. Natum viderer disputationi et per, ex omnium adolescens per.
        </div>
        <div class="games-footer">
            <button>Подробнее</button>
        </div>
    </section>
</section>
<section class="games-block">
    <section class="games">
        <div class="games-head">
            Название игры
        </div>
        <div class="games-body">
            Eum ei duis eripuit, ut salutatus dissentias usu. No omnes erroribus definiebas sit. Vis te dicta elitr, ne nemore dignissim his, mel id wisi persius mnesarchum. Et tempor melius eum, mea ex mutat illum doming. Te sed adhuc ceteros, case viderer usu cu.
        </div>
        <div class="games-footer">
            <button>Подробнее</button>
        </div>
    </section>
</section>
{% endblock main %}
