{% extends "base.tera.html" %}
{% block title %}Пользователи{% endblock title %}
{% block main %}
<article>
    <h1>Список пользователей</h1>
    <table>
        <tr>
            <th>Имя</th>
            <th>E-mail</th>
            <th>Регистрация</th>
            <th>Последняя активность</th>
        </tr>
        <tr>
            <td><span class="username">Игорь</span></td>
            <td>Ngorb@mail.ru</td>
            <td><time>09.09.2018 12:00:00</time></td>
            <td><time>01.11.2018 12:00:00</time></td>
        </tr>
        <tr>
            <td><span class="username">Игорь</span></td>
            <td>Ngorb@mail.ru</td>
            <td><time>09.09.2018 12:00:00</time></td>
            <td><time>01.11.2018 12:00:00</time></td>
        </tr>
        <tr>
            <td><span class="username">Игорь</span></td>
            <td>Ngorb@mail.ru</td>
            <td><time>09.09.2018 12:00:00</time></td>
            <td><time>01.11.2018 12:00:00</time></td>
        </tr>
        <tr>
            <td><span class="username">Игорь</span></td>
            <td>Ngorb@mail.ru</td>
            <td><time>09.09.2018 12:00:00</time></td>
            <td><time>01.11.2018 12:00:00</time></td>
        </tr>
        <tr>
            <td><span class="username">Игорь</span></td>
            <td>Ngorb@mail.ru</td>
            <td><time>09.09.2018 12:00:00</time></td>
            <td><time>01.11.2018 12:00:00</time></td>
        </tr>
        <tr>
            <td><span class="username">Игорь</span></td>
            <td>Ngorb@mail.ru</td>
            <td><time>09.09.2018 12:00:00</time></td>
            <td><time>01.11.2018 12:00:00</time></td>
        </tr>
        <tr>
            <td><span class="username">Игорь</span></td>
            <td>Ngorb@mail.ru</td>
            <td><time>09.09.2018 12:00:00</time></td>
            <td><time>01.11.2018 12:00:00</time></td>
        </tr>
        <tr>
            <td><span class="username">Игорь</span></td>
            <td>Ngorb@mail.ru</td>
            <td><time>09.09.2018 12:00:00</time></td>
            <td><time>01.11.2018 12:00:00</time></td>
        </tr>
        <tr>
            <td><span class="username">Игорь</span></td>
            <td>Ngorb@mail.ru</td>
            <td><time>09.09.2018 12:00:00</time></td>
            <td><time>01.11.2018 12:00:00</time></td>
        </tr>
        <tr>
            <td><span class="username">Игорь</span></td>
            <td>Ngorb@mail.ru</td>
            <td><time>09.09.2018 12:00:00</time></td>
            <td><time>01.11.2018 12:00:00</time></td>
        </tr>
        <tr>
            <td><span class="username">Игорь</span></td>
            <td>Ngorb@mail.ru</td>
            <td><time>09.09.2018 12:00:00</time></td>
            <td><time>01.11.2018 12:00:00</time></td>
        </tr>
        <tr>
            <td><span class="username">Игорь</span></td>
            <td>Ngorb@mail.ru</td>
            <td><time>09.09.2018 12:00:00</time></td>
            <td><time>01.11.2018 12:00:00</time></td>
        </tr>
        <tr>
            <td><span class="username">Игорь</span></td>
            <td>Ngorb@mail.ru</td>
            <td><time>09.09.2018 12:00:00</time></td>
            <td><time>01.11.2018 12:00:00</time></td>
        </tr>
        <tr>
            <td><span class="username">Игорь</span></td>
            <td>Ngorb@mail.ru</td>
            <td><time>09.09.2018 12:00:00</time></td>
            <td><time>01.11.2018 12:00:00</time></td>
        </tr>
        <tr>
            <td><span class="username">Игорь</span></td>
            <td>Ngorb@mail.ru</td>
            <td><time>09.09.2018 12:00:00</time></td>
            <td><time>01.11.2018 12:00:00</time></td>
        </tr>
    </table>
</article>
{% endblock main %}
