<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>{% block title %}Нет имени{% endblock title %} - Лунокод</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Mono|Fira+Sans"/>
        <link rel="stylesheet" href="style.css"/>
        <meta charset="utf-8"/>
    </head>
    <body>
        <header>
            <a href="/">
                <img class="logo" src="icons/logo.png" alt="LunoKod"/>
            </a>
            <nav class="routes">
                <a class="routes-item" href="/users">Пользователи</a>
                <a class="routes-item" href="/agents">Агенты</a>
                <a class="routes-item" href="/games">Игры</a>
            </nav>
            <nav class="session">
                <a class="session-item signin" href="/signin">Вход</a>
                <a class="session-item signup" href="/signup">Регистрация</a>
            </nav>
        </header>
        <main>
            {% block main %}
            <p>Пустая страница</p>
            {% endblock main %}
        </main>
        <footer>
            <p>Лунокод, 2018</p>
        </footer>
    </body>
</html>
