{% extends "base.tera.html" %}
{% block title %}Игры{% endblock title %}
{% block main %}
<article>
    <h1>Список игр</h1>
    <table>
        <tr>
            <th>Игрок #1</th>
            <th>Игрок #2</th>
            <th>Начало</th>
            <th>Окончание</th>
        </tr>
        <tr>
            <td><span class="username winner">Игорь</span></td>
            <td><span class="username looser">Игорь</span></td>
            <td><time>09.09.2018 12:00:00</time></td>
            <td><time>01.11.2018 12:00:00</time></td>
        </tr>
        <tr>
            <td><span class="username winner">Игорь</span></td>
            <td><span class="username looser">Игорь</span></td>
            <td><time>09.09.2018 12:00:00</time></td>
            <td><time>01.11.2018 12:00:00</time></td>
        </tr>
        <tr>
            <td><span class="username winner">Игорь</span></td>
            <td><span class="username looser">Игорь</span></td>
            <td><time>09.09.2018 12:00:00</time></td>
            <td><time>01.11.2018 12:00:00</time></td>
        </tr>
        <tr>
            <td><span class="username winner">Игорь</span></td>
            <td><span class="username looser">Игорь</span></td>
            <td><time>09.09.2018 12:00:00</time></td>
            <td><time>01.11.2018 12:00:00</time></td>
        </tr>
        <tr>
            <td><span class="username winner">Игорь</span></td>
            <td><span class="username looser">Игорь</span></td>
            <td><time>09.09.2018 12:00:00</time></td>
            <td><time>01.11.2018 12:00:00</time></td>
        </tr>
        <tr>
            <td><span class="username winner">Игорь</span></td>
            <td><span class="username looser">Игорь</span></td>
            <td><time>09.09.2018 12:00:00</time></td>
            <td><time>01.11.2018 12:00:00</time></td>
        </tr>
        <tr>
            <td><span class="username winner">Игорь</span></td>
            <td><span class="username looser">Игорь</span></td>
            <td><time>09.09.2018 12:00:00</time></td>
            <td><time>01.11.2018 12:00:00</time></td>
        </tr>
        <tr>
            <td><span class="username winner">Игорь</span></td>
            <td><span class="username looser">Игорь</span></td>
            <td><time>09.09.2018 12:00:00</time></td>
            <td><time>01.11.2018 12:00:00</time></td>
        </tr>
        <tr>
            <td><span class="username winner">Игорь</span></td>
            <td><span class="username looser">Игорь</span></td>
            <td><time>09.09.2018 12:00:00</time></td>
            <td><time>01.11.2018 12:00:00</time></td>
        </tr>
        <tr>
            <td><span class="username winner">Игорь</span></td>
            <td><span class="username looser">Игорь</span></td>
            <td><time>09.09.2018 12:00:00</time></td>
            <td><time>01.11.2018 12:00:00</time></td>
        </tr>
        <tr>
            <td><span class="username winner">Игорь</span></td>
            <td><span class="username looser">Игорь</span></td>
            <td><time>09.09.2018 12:00:00</time></td>
            <td><time>01.11.2018 12:00:00</time></td>
        </tr>
    </table>
</article>
{% endblock main %}
