{% extends "base.tera.html" %}
{% block title %}Главная{% endblock title %}
{% block main %}
<article>
    <section class="events-block">
        <article>
            <h2>Новые пользователи</h2>
            <section class="users-block">
                <div class="users-block-item">
                    <img class="avatar" src="images/avatar.png"/>
                    <span class="username">Игорь</span>
                    <time>11.09.2018 12:00:01</time>
                </div>
                <div class="users-block-item">
                    <img class="avatar" src="images/avatar.png"/>
                    <span class="username">Игорь</span>
                    <time>11.09.2018 12:00:01</time>
                </div>
                <div class="users-block-item">
                    <img class="avatar" src="images/avatar.png"/>
                    <span class="username">Игорь</span>
                    <time>11.09.2018 12:00:01</time>
                </div>
            </section>
        </article>
        <article>
            <h2>Прошедшие игры</h2>
            <section class="games-block">
                <div class="games-block-item">
                    <span class="players">
                        <span class="username looser">Игорь</span>
                        <span class="vs"> vs </span>
                        <span class="username winner">Игорь</span>
                    </span>
                    <time>11.09.2018 12:00:01</time>
                </div>
                <div class="games-block-item">
                    <span class="players">
                        <span class="username looser">Игорь</span>
                        <span class="vs"> vs </span>
                        <span class="username winner">Игорь</span>
                    </span>
                    <time>11.09.2018 12:00:01</time>
                </div>
                <div class="games-block-item">
                    <span class="players">
                        <span class="username looser">Игорь</span>
                        <span class="vs"> vs </span>
                        <span class="username winner">Игорь</span>
                    </span>
                    <time>11.09.2018 12:00:01</time>
                </div>
            </section>
        </article>
    </section>
</article>
{% endblock main %}
